# Final packages
RPMS/*

# Binaries are created in the project folder (Sailfish SDK doesn't support shadow building yet)
harbour-sailfish-postbox-phone
src/harbour-sailfish-postbox-phone
tests/tst-harbour-sailfish-postbox-phone
final-rpm-for-harbour-submission/*

# Something Qt Creator generates
debugsources.list
documentation.list
debugfiles.list
debuglinks.list

# object files, makefiles, environment-specific Creator settings
*.o
Makefile
*.pro.user
*.pro.user.*
