[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Filedrop Receiver
Icon=harbour-sailfish-postbox-phone
Exec=harbour-sailfish-postbox-phone
